
.*/
bin/
__pycache__/
*.spec

# Build files

dist/
build/

# Debug files

debug/test.py
debug/note.txt
debug/sim.js

# Resource Files

files/config.json
files/midis/*
files/functions/*
files/images/*
files/cache/*
files/chat_logs/*
files/login.txt